.Order {
	width: 100%;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	padding: 10px;
	margin: 10px auto;
	box-sizing: border-box;
}

.Ingredient {
	text-transform: capitalize;
	display: inline-block;
	margin: 0 8px;
	border: 1px solid gray;
	padding: 10px;
}

@media (max-width: 600px) {
	.Ingredient {
		display: table;
		width: 30%;
		margin: 0 10%;
	}
}
